<div class="bg-container">
    <table mat-table [dataSource]="coachList" class="mat-elevation-z8 list-background m-1 shadow-lg p-3 mb-5 bg-white rounded">
  
      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
    
      <!-- Position Column -->
      <ng-container matColumnDef="coachId">
        <th mat-header-cell *matHeaderCellDef style="font-weight:bold" > CoachId</th>
        <td mat-cell *matCellDef="let element"> {{element.coachId}} </td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="coachName">
        <th mat-header-cell *matHeaderCellDef style="font-weight:bold"> Coach Name </th>
        <td mat-cell *matCellDef="let element"> {{element.coachName}} </td>
      </ng-container>
    
      <!-- Weight Column -->
      <ng-container matColumnDef="coachExperience">
        <th mat-header-cell *matHeaderCellDef style="font-weight:bold"> Experience </th>
        <td mat-cell *matCellDef="let element"> {{element.coachExperience}} </td>
      </ng-container>
    
      <!-- Symbol Column -->
      <ng-container matColumnDef="coachSpecialization">
        <th mat-header-cell *matHeaderCellDef style="font-weight:bold"> Specialization </th>
        <td mat-cell *matCellDef="let element"> {{element.coachSpecialization}} </td>
      </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="gameName">
          <th mat-header-cell *matHeaderCellDef style="font-weight:bold"> Game Name </th>
          <td mat-cell *matCellDef="let element"> {{element.gameName}} </td>
        </ng-container>

          <!-- Name Column -->
      <ng-container matColumnDef="clubName">
        <th mat-header-cell *matHeaderCellDef style="font-weight:bold"> Club Name </th>
        <td mat-cell *matCellDef="let element"> {{element.clubName}} </td>
      </ng-container>
  
      <ng-container matColumnDef="delete" >
        <th mat-header-cell *matHeaderCellDef style="font-weight:bold" > Delete</th>
        <td mat-cell *matCellDef="let element" >
           <button class="btn btn-danger" (click) = "onClickDeleteCoach(element.coachId)">delete</button> </td>
      </ng-container>
       
      <ng-container matColumnDef="update" >
        <th mat-header-cell *matHeaderCellDef style="font-weight:bold"> Update </th>
        <td mat-cell *matCellDef="let element" >
           <button class="btn btn-warning" (click) = "onClickUpdateCoach(element.coachId)">Update</button> </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      
    </table>
    <button routerLink="/createCoach" class="btn btn-primary">Add Coach</button>
  </div>