<div class="bg-container">
    <table mat-table [dataSource]="gameList" class="mat-elevation-z8 list-background m-1 shadow-lg p-3 mb-5 bg-white rounded">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
        <!-- Position Column -->
        <ng-container matColumnDef="gameId">
          <th mat-header-cell *matHeaderCellDef style="font-weight:bold" > GameId</th>
          <td mat-cell *matCellDef="let element"> {{element.gameId}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="gameName">
          <th mat-header-cell *matHeaderCellDef style="font-weight:bold"> GameName </th>
          <td mat-cell *matCellDef="let element"> {{element.gameName}} </td>
        </ng-container>
      
  
        <!-- Symbol Column -->
        <ng-container matColumnDef="gameCoachingFee">
          <th mat-header-cell *matHeaderCellDef style="font-weight:bold"> GameCoachingFee </th>
          <td mat-cell *matCellDef="let element"> {{element.gameCoachingFee}} {{element.clubId}}</td>
        </ng-container>

        
    
        <ng-container matColumnDef="delete" >
          <th mat-header-cell *matHeaderCellDef style="font-weight:bold" > Delete</th>
          <td mat-cell *matCellDef="let element" >
             <button class="btn btn-danger" (click) = "onClickDeleteGame(element.gameId)">delete</button> </td>
        </ng-container>
         
        <ng-container matColumnDef="update" >
          <th mat-header-cell *matHeaderCellDef style="font-weight:bold"> Update </th>
          <td mat-cell *matCellDef="let element" >
             <button class="btn btn-warning" (click) = "onClickUpdateGame(element)">Update</button> </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        
      </table>
      <button routerLink="/creategame" class="btn btn-primary">Add game</button>

</div>


